body {
	padding: 20px 20px 20px 20px;

}

h1 {
	font-family:  Impact, Charcoal, sans-serif;
	color:	#524645;

}

table {
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
}

td {
	width: 100px;
}

.textBoxes {
	margin: auto 0 auto 0;
}